body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}
nav{
	/*padding: 10px 10px;*/
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;

    padding: 0px 15px;
  
}

.content > .logo {
	margin:auto 0;
	float: left;

}
.links{
	
	list-style-type: none;
	
}

.links > li{
display: inline-block;
}
